<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Sign In Page</title>

  <!-- Bootstrap Core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom CSS -->
  <link href="resources/css/home.css" rel="stylesheet">

</head>

<body>

  <!-- Header -->
  <header class="header" id="top">
    <div class="text-vertical-center">
      <img style="width:120px;" src="resources/img/lisa.png">
      <h1>Contoso Bank</h1>
      <h3>Hi, my name is Lisa!</h3>
      <h6>Please, sign in to start conversation.</h6>
      <div class="container" id="id_div_login" style="display:block">
        <div class="form-group row">
          <label for="id_input_username" class="col-sm-4 col-form-label"></label>
          <div class="col-sm-4">
            <input type="email" class="form-control" id="id_input_username" placeholder="Username">
          </div>
        </div>
        <div class="form-group row">
          <label for="id_input_password" class="col-sm-4 col-form-label"></label>
          <div class="col-sm-4">
            <input type="password" class="form-control" id="id_input_password" placeholder="Password">
          </div>
        </div>
        <div class="row">
          <div class="mx-auto" id="id_div_login_danger" style="display:none">
            <div class="alert alert-danger">
              <strong>Error!</strong> Incorrect Username or Password. Please, Sign up first.
            </div>
          </div>
        </div>
      </div>
      <a href="" class="btn btn-primary btn-xl js-scroll-trigger" id="id_button_index_signin">Sign In</a>
      <br>
      <a href="/signup.html" class="btn btn-xl js-scroll-trigger">Sign Up</a>
      <br>
    </div>
  </header>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Scripts resources section -->
  <script src="resources/js/home.js"></script>
  <script src="resources/js/md5.js"></script>

</body>

</html>
